@page
@model Portfolio.Pages.Project
@{
    ViewData["Title"] = "Projects";
}

<body>

    <section id="aboutme">

        <div class="wrapper">
            <div class="welcome">
                <h1><strong>Projects</strong> Under Construction </h1>  

                <a id="navigateButton" title="Main Menu" asp-page="/Index">HOME </a>
            </div>

            <div class="aboutme">

                <img src="../img/me.png" alt="About Me" />
            </div>
        </div>
    </section>

</body>
